/*

  <meta name="author" content="Nicholas Pinson">
  <!-- Adapted from https://javascript30.com - Flex Panel Gallery -->

Changes:
-Adjusted the sizes of fonts, text shadows
-Got rid of any pixel measurements and switched to ems
-Imported a Google font like Wes, which I've never done before
-Added additional panels

New to me:
-Flex box is still new to me. I've used it once previously
-Transitions are still very mystical
*/

html {
  box-sizing: border-box;
  background: #ffc600;
  /*font-family: 'helvetica neue';*/
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 1.1em;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 { background-image:url(agumon.png); }
.panel2 { background-image:url(gabumon.png); }
.panel3 { background-image:url(biyomon.png); }
.panel4 { background-image:url(tentomon.png); }
.panel5 { background-image:url(gomamon.png); }
.panel6 { background-image:url(palmon.png); }
.panel7 { background-image:url(patamon.png); }
.panel8 { background-image:url(gatomon.png); }

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.3s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
/*  text-transform: uppercase;*/
  /*font-family: 'Amatic SC', cursive;*/
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.72), 0 0 6px rgba(0, 0, 0, 0.45);
  font-size: 0.5em;
}

.panel p:nth-child(2) {
  font-size: 1em;
}

.panel.open {
  flex: 2;
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}