/*
    <meta name="author" content="Nicholas Pinson">
    <meta name="date" content="3/8/2020">
    
    <!-- Adapted from https://javascript30.com - Hold Shift & Check Checkboxes -->
*/

/*
Changes:
Updated background color
Updated fonts
"Paper-ified" the checklist
Added refridgerator-like metalic background image
Used Absolute Positioning for magnet
Changed border-radius and box-shadow to look more realistic
Updated a lot of px sizing to em's
*/

html {
  font-family: sans-serif;
  background: #a6a4a2;
    background-image: url(metal.png);
    background-repeat: repeat
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 2px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(198,198,227);
}

.item:last-child {
  border-bottom: 0;
}


input:checked + p {
  background: #F9F9F9;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

p {
  margin: 0;
  padding: 0.25em;
  transition: background 0.2s;
  flex: 1;
  font-family: 'ink free', 'Monotype Corsiva', serif;
  font-size: 1.5em;
  font-weight: 200;
  border-left: 1px solid #f00;
}

#papertop {
    font-size: 3em;
    margin-left: 1.11em;
    text-decoration: underline;
    text-decoration-color: #777;
    padding-bottom: 0;
}

#magnet {
    position: absolute;
    top: -0.6em;
    left: 51%;
    width: 10em;
}