/*

<meta name="author" content="Nicholas Pinson">
<meta name="date" content="2/3/2020">
<!-- Adapted from https://javascript30.com - Whack A Mole Game -->
<!-- New properties and attributes: 

        overflow: hidden;
        content: '';
        z-index: 2;
        top: 100%;
        bottom: -13px;
        transition:all 0.4s;

*/

html {
  box-sizing: border-box;
  font-size: 10px;
  background: #70C8A0;
  background-image: url("grass.png");
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  touch-action: manipulation;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.png) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -13px;
}

.mole {
  background: url('diglett.png') bottom center no-repeat;
  background-size: 67%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    margin-top: 1.5em;
    font-size: 4em;
}

.pokeball {
    cursor: url(pokesmall.png), auto;
}

.greatball {
    cursor: url(greatsmall.png), auto;
}

.ultraball {
    cursor: url(ultrasmall.png), auto;
}