/*
<!-- Adapted from https://javascript30.com - Sticky Nav & Slide In On Scroll -->
<!-- Nicholas Pinson 2/24/2020 -->

Changes:
Updated Header image
Applied conditional formatting for the images
Images now use shape-outside & clip-path on larger monitors (ty Jen Simmons)
Updated some formatting to "em"s instead of pixels
Added h2 and h3 formatting

New or Useful:
Transform and Transition are always good to see, because I know I will be using them a lot in the future.

*/

/* Sticky Nav */

html {
  box-sizing: border-box;
  background: #eeeeee;
  font-family: 'helvetica neue';
  font-size: 1.25em;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  width: 90%;
  max-width: 900px;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: left;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height: 50vh;
  background: url(rainforest.jpg) bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}

nav {
  background: black;
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color: black;
}

.fixed-nav li.logo {
  max-width: 500px;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}


/* Slide In Project Start (things not included in Sticky Nav) */

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

/* slowed this down */
.slide-in {
  opacity: 0;
  transition: all .6s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

/* not using this one, all images using align-left */
.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}


/* my additions */

h2 {
  color: #111;
  font-size: 3em;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}

h3 {
    color:forestgreen;
    font-family: "Monotype Corsiva", serif;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

#signature {
    font-family:"Monotype Corsiva", serif;
    font-size: 1.1em;
}


@media only screen and (min-width: 730px) {
    .oval
    {
        margin-top:0.5em;
        margin-right:0.5em;
        float:left;
        shape-outside: ellipse(208px 189px at 196px 199px);
        clip-path: ellipse(47.84% 45.69% at 50.00% 47.07%);

    }
}
