/*
  <meta name="author" content="Nicholas Pinson">
  <meta name="date" content="2/17/2020">
  <!-- Adapted from https://javascript30.com - Konami Code / Key Sequence Detection -->
*/

/* All the CSS is original. Tried out absolute positioning and some transformations like Wes has used in other videos. The images that grow when hovered over are the ones that have a further function to them in JavaScript. I was inspired by the Cornify animations but wasn't sure how to implement them in JavaScript. */

body {
    background-image: url("spacebackground.png");
    background-color: #111;
}

#sectorz {
    display: block;
    margin-left: 3em;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: auto;
    width: 7em;
    z-index: 1;
    
}

#logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform .2s;
}

#logo:hover {
    transform: scaleX(1.02);
}

#greatfox {
    display: block;
    width: 30%;
    z-index: 1;
    position: absolute;
    right: 3em;
    bottom: 0;
    transition: transform .2s;
}

#greatfox:hover {
    transform: scaleX(1.02);
}